
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/376bdd3ac92afd53169e8faecf624110.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/soccer.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/45c074e64c49165be59a19ec38f40ae8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/basketball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1a25c1bc80c7722bec151bbff3e85dec.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/football.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/53d958a3faa6250deaadde739100ab66.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/baseball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9efa279f76d8fcf03309fa1b771c43de.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/softball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/07aab6d892f35d529932196dbd20101f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/tennis.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/408999faaed422016a76103ed3418837.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/volleyball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a71c8639481a2696377378ab07d348fb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/rugby_football.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/688d7afb399b4582b65a4db9016c28fc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/flying_disc.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0cfd4882c0646d504900c90166d80cf8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/8ball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e8fb6cf9479a7397963129798f97b1d5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/yo_yo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2859b7c99f56fe22827916c529ccac86.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/ping_pong.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f38d6de174ee2cf1f7c9bde8019e0c18.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/badminton.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/aeb43e604aa87f6028f2053d26582c3f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/hockey.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cb503564eb2ce37230ec6f56a27b8bbe.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/field_hockey.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/75dfe02f845433ec1da6f104c5b8ccba.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/lacrosse.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a6f72a20e57fc5604130b794eb81ead7.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/cricket_game.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ff63bac8b064e04d31a32eeae8ccd7dc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/goal.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/795431f7abdbe4dcaa45e1355146ecec.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/golf.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c82b382a4e972f005a98e29131b773d9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/kite.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2d827842d29f3408d9eb56fcdd96e589.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/fishing_pole_and_fish.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/348da7884f4dec0c4005b82f1f3e410a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/diving_mask.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0bba59679c1a2c8325542fa484725c1a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/boxing_glove.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9447893dd2eff1070480ee5a93ef3180.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/martial_arts_uniform.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b838c3f308050200c31cda4af66039e9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/running_shirt_with_sash.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f8db26d08ff2e4af0f967ae1827bf8b6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/sled.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8f1d923af2f428792561333404cc0808.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/ice_skate.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4712a73f565aa5a47245ed69d584f403.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/curling_stone.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/93c5ae5a41e9d1468fbc1c892ad6e4a6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/ski.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0a00e865c445d42dfb9f64bedfab8cf8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/trophy.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e2f8f101328a4b4ae7875945716345b3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/first_place.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c65da98dd1cd29756d4d5901ed549661.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/second_place.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9ecf90770f4de9be7b44cb601d49722c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/third_place.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c9b563417a1ff01700edc358b5fc309f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/medal.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6ca609cb5fe0c1a5a74633567c2e743f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/military_medal.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d702f2335a85d421e708bc9466571fa8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/reminder_ribbon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5e5ab6737c6e2b6a9aa7a1e7295d1b41.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/ticket.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7d3e3949b8fafe2ebed318974f1ece8b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/tickets.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/74753e5398ed3c86145f696cca04ed5b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/performing_arts.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5cdf72535fd236b2a7e6ab8e4826b3a4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/art.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/34039c067d82e86f0f1a07ad38e86685.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/game_die.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/22bbea32f8826e963038329aee825bc1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/chess_pawn.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/90eb8387713284f854d84ae86a5ff811.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/dart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7366fdb7c5d9143057318249297a13bc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/bowling.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fd75504bd8a4810f750bdb5a94ade84c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/slot_machine.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6397a81d13d9b1cac66c1afefb072f3d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/jigsaw.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2f5331445a4647af2bb317862b38502a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/christmas_tree.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3bc9a862612bae045329b90ed60f2ad7.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/bamboo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/842e3b859f3efcb7f40ed7fc6867ca50.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/tanabata_tree.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e820a306c732b90515989dada9995a97.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/sparkles.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d5b6040243084dc53e2baa2acf9af348.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/joystick.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a66029551e6622ee220b35677db15d8b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/firecracker.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1e183a34aa97fc91f7e6992bdd24f981.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/crystal_ball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c84e3f83b281b92495872d0d3b139cea.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/nazar_amulet.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/74ce6ebfcb1ee2eab6d8c0ad093e12e5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/hamsa.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f248b9a976f998c9cc7faadd0040a5fb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/teddy_bear.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1c1e2b8196062cea1c70edeed44fc479.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/nesting_dolls.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c4424d3d5068cba14a10467cfafd6580.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/frame_photo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7a7ff35f227d659eb5efd817e2052174.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/gift.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a6298512f50632252a23cc264ec73f29.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/balloon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4b25919b3fb54419d57e436cbdb1a2d4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/flags.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/309a45f4a75e9936c4c00807354e4c7c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/ribbon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e6bbd7e1a762e2e20cee7ae28d29a6f3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/magic_wand.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9d23479dd0484c082194cf5a316adf08.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/confetti_ball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b052a4bef57c1aa73cd7cff5bc4fb61d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/tada.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/eb697691fa500edf556867e585c4d4ac.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/dolls.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5ab2679b6db7772e5eb4ed3415d82800.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/wind_chime.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e840b05553afb9124104f5aa811ee3bc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/mirror_ball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a38e4c37e7586cf0d2ed5ef9b7a1256b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/red_envelope.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/549e0b9954236583f841032b85ba45f9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/jack_o_lantern.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d8cd8872f217c51e8cab323d5681a6e9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/knot.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d57f2dafc1768e2fa3fbdae18d04a17f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/yarn.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/04ae66e9535ee04c36ebc2489bbd0351.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/thread.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e615f9bfc59c57cc6ad2a1bd5df68264.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/sewing_needle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3fe9fcacdbee990bd0d873135689bd5b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/spades.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b67a375a6b8f5caeacff463835c44011.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/clubs.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1afd3c799f3e158662a70498e83e2a87.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/hearts.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/61e5eb6df757130920f69f1bc3ec6cdf.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/diamonds.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/080ef5f5f55bdf671af4e31d41b893d3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/black_joker.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a5a0052b1eeb1e7765a591dca2439b3a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/flower_playing_cards.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1bf32ef6b612a4f8539a083d233c065b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/mahjong.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ac4294066a9379874e669fe6eae9dbe5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/rice_scene.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/72f93fd9cd78b6cf221bab5594ca9176.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/sparkler.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/be2863685453106bcaf150626e1c188a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/activities/fireworks.png") !important;
    background-size: contain !important;
}