
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/936f7125fcf405a5d18bd84b0b52f47b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rosette.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2eb6ca0fe3f48e16b1fe240735710094.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dog.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a582f38ca1d7c72abd5b2565033bc810.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1e8855463ed8a429b8a0da902d4ce910.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/mouse.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fc50a173b1afcfb37d141e4bee11e479.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/hamster.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a81931766f2a88526baea838dde7d225.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rabbit.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ba34ab28ffd9aeddbce8253362a33dd1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/fox.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/589b531ad20f070bbee33f31f233c135.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bear.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ffa1f81e3c3364ef04f9a1a26b55b42b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/panda_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/eb3b52294d6cbab490cdb577afe40b11.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/polar_bear.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6ea80059130bde711bef1b446f78e282.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/koala.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ed7822d0ae570e74d95ff32a31309005.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/tiger.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e23557c7f844b57a30a431444b64af5f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/lion_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7da28de81a5be51f4199da5050e83041.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cow.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/dd77cf000a729a9bf0fc03b97e1e4a5d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/pig.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6c9bbf3f832dcd57767157214e9c5bb5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/pig_nose.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/68af06bbac9f4830d08fa474f201f92b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/frog.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e867007be4b2af2652e06c6aea5311ae.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/monkey_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/766e42505fdf9dc7c390ecd08c0bc4a6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/monkey.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/468644ef0a79a3d8163f7778164b756d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/chicken.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/727bc86f98316c40c37e48797f2ab196.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/penguin.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cf725f98edb284d25530f5dbd7d30ee4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bird.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e751b74d24f6d6dd9f57b5c1e257a2fe.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/baby_chick.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3e830e736f5880373f5c58ea37f0a09e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/hatching_chick.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3fbf09f29fe27dc2b8a7d06c83465ce8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/hatched_chick.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5e623785155f790f48901eeb4e5022c9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/duck.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/eefee5ca29d3804705c4c61dc104efb1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/eagle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/59e611bd4994d2978d695df90db540c4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/owl.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/af70a9ae5dd90f1078e363eab1c855cc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/70c59f59ef85eeddfd7d3962a4840cb8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/wolf.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1a7689368e6b9d41ce8db98f709ca08a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/boar.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/dd3c29b26d0bc7cdfd537f483c9c5bb3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/horse.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b99b0dd045c527a855a8ee484140cdfe.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/unicorn.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/66421caf19743280c076da2fca8932a3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bee.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/370f5af37229902609dec50690ec5f99.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bug.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/64342de07ecabe5158112886bccfef45.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/butterfly.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6dfcd23c3f6302b228666f9ce61dbf61.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/snail.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/711d821cf988b45ec85fd6a31ba985d8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/worm.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d5b1663a1a49a2471ab3bce9f98bfc27.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/lady_beetle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e37bc714ecd911af7c558f5aaa0c4464.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/ant.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ba4d132b61d61e957465db5d29e61e7d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/fly.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4b68db498853957de56d6e5d7cb89ccf.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/mosquito.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/787ebc472336cac2e745b913176af113.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cockroach.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fdfbde645f16761b69a21d334ee17611.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/beetle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6b66d2ae72c692e11209c7b0cf2bb9ef.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cricket.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d6e12f410c99374f88879450daaaced9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/spider.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4f7f755e1f3af2ecc5eea3540cd16527.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/spider_web.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/738160272d6024585562a55a39e1cb25.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/scorpion.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0da5614923cc73f71ea9641a5cdb5a3e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/turtle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/dbfbe586e724f4a0cd993d0c1048316b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/snake.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1703f9a3721beece0d66f10c0ef9d3d0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/lizard.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/367e391010f99cb7ee114f0568ddd80f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/t_rex.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9703ffde881fc89b02b21a419e3f1f2f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/sauropod.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b881e880846e099613fba17d5de1497b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/octopus.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/eb870587a80d227731a888c954ac2eca.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/blowfish.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ea60e8e1bc38ab15f4309ef49f081f22.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/tropical_fish.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/720806c4ff4375a2f36674e8aeeb1906.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/fish.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a6e116c71ab2e177001c5ca9977e68d1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/seal.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1a5d8cce6c59fe1ff80d19f182616d13.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dolphin.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1cb536137c5e70d114922edd3d3faaa0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/whale.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/217b9691030367991d52c0bcbde34f30.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/whale2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7141e059d1cd75465ac7cdfa2101da72.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/shark.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fface028e87dd156db7f772d5009211e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/crocodile.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/df8b26ce08bff3cc70d505b48ccdc71c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/tiger2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a4ae9ac0cb5ad12a68f767d39b249811.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/leopard.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/536b3e1a4ba312bd793ca96a4d0487f2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/zebra.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e8b3b5a31c0a3c541960bd3ddccc538f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/gorilla.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/70e2c1bb3d82f6e009d3aaa6d72b8fc2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/orangutan.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a2893dfac8eccc398a9b14402df114c2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/elephant.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/af5f26288872cf6f0f22ef421fc394cd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/mammoth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4074c31ae3588a394a7a78c5e80c7d98.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bison.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/77c65f388b96be7a8bd2d8334fb546bc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/hippopotamus.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1d5443faf52d355d2abd7900449eb5ae.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rhino.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/14baad8ac7905736f0505fef9e6761a8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dromedary_camel.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/aa2e827a8b3c78ded1a842fa19f89326.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/camel.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d0f34dde89da79643396c7bdc41493bd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/giraffe.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e6afe8d972ad58432c61bd59e9df132f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/kangaroo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/06abe2c5f92d0dfc5d66446cb4e1e83b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/water_buffalo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2c675857bded304870f3aedc02de2ffb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/ox.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3c6d0d0cdd8a07c4c6837fd143e1e60c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cow2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/591183f3386ef43f266bd7bcf03ef83f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/racehorse.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d083412544c302d290775006877f6202.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/pig2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3b7c890100e7d7260288ce46d67a24cd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/ram.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1118afb9d722b17e0cb0595bbe4f6e0a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/sheep.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fa08c3c8afc72844296f9c00465be77a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/llama.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/55aecf5f15c4f21115d04f8cd63fb3ab.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/goat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a8a497879f296fa124562710db149d98.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/deer.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8b285f94106efc8fbb076980806d4462.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dog2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/79f5a5b12f5ff0785032b3ec01f37a24.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/poodle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cbce1272869a42215ef4a4afad1cd85e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/guide_dog.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/92f89f0c4724cd564fc307a5dd20e18a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/service_dog.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/56f7f46a090f4935ce29b6718c8d47ce.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cat2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a784784c984905c2a74507d57aa3523e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/black_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ccf3a8ec8488ab282e36c8f0217d73cd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/feather.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ddd66e0ba306c3e6d9483acd8cfc124b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rooster.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/618ca8489ae1ab5f94fde2e3a7fb2c0c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/turkey.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/76174ac71d3cebcc5ec2949e33a2ed25.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dodo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4a5fb8d468c3d4c13216440813feb418.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/peacock.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ef02cd8645bcdff874d23500b2b516fd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/parrot.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/05d31fd63d5a6a3cef375d3d326a8a0c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/swan.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/430705f097a53695b1bf71c6de22b866.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/flamingo.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/49533def46858e98682242755ef6912b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dove.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e076bda560b596a206ea032e02bd411b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rabbit2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/09b38a6de1509c805be67eed340e2f8f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/raccoon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7631a1b3137202d7b80e48d99987484f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/skunk.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/82cb4a510436e4755388615426d2de73.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/badger.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0ee00f8f2f780bb43828baa8684991e2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/beaver.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a8ef7bbc89c69e7de6d38b6fc1f92dab.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/otter.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cdc3facd345983768d3bd16aa6021f90.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/sloth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/62e0abd117fa79e4728618e413d86d19.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/mouse2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f36b66e2f802dc9f43d8b4fa18c084aa.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/de0f03380b137cdb950b1a9d2ca04a3b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/chipmunk.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/222cb7486c4fec7d2602bf456b259f5b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/hedgehog.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f8cfa52b218e9e8fac7c1b21d09d8ef6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/feet.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d73ab953aa1a3b9cca3a5a0bb6c37842.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dragon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6bdc7fbe1d1895ee1ae6f10d8b7ff014.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/dragon_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c22a2def17c0dfb9d4ba44dbc54f4062.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cactus.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5dca95ac71f782daf8bdff7e8114d656.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/evergreen_tree.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1179cce930e54f671be9a98ffc9313e3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/deciduous_tree.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0b52d41ab11b969765213113b0d197c9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/palm_tree.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/38002403475def186f4b7ac64cc9d04f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/seedling.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d23c2dde0892d5c67b9148d3332aff8c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/herb.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ac577511ab9afa8bb830b0d70272d887.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/shamrock.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ccb393b137e9218ac3af16b2c4617a2e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/four_leaf_clover.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/40115dda7d9f615f9561a451236d9623.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/leaves.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7c8d861a86a9c3852f2cdde40715d490.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/fallen_leaf.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1cea8f71b1b8c4f083e93e58c667bd7c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/maple_leaf.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b403598f63fca2fd72ac586bc2933c69.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/empty_nest.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5bea3ba62bee6066f51b25e7cdb31baa.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/nest_with_eggs.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3ef216c0db84ff0dbeebd9409104b32f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/shell.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/36eb692f0215a5b914d06212849c076b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/coral.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e12380ed13d4f1c0633d0166042bbea1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/ear_of_rice.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ffe6ed65594ad7e59441d29b235a5e3b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/potted_plant.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3113df582817db67e43e88415a345c6e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/bouquet.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b8d0435c20c936da2daa4ebb412dc45c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/tulip.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/332a1867f90ba415fe0cd56491e4d16c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/rose.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e328cbaba5658ae0f002fadbddbf04d0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/wilted_rose.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/32d25744a68866fc82e2ff6c61319067.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/lotus.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/07302a0ce95bfc27d75e6d9748f7c3c4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/hibiscus.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/764836c1d982d6a999ef5ee6ab11eb87.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/cherry_blossom.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cf977724a615ddf7aa9610c50a577536.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/blossom.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b8126c857aacaf1d7226fa5505b5f5cb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/sunflower.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c166700764a11c7d30026d4d825b235a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/microbe.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/83a26e87d6e49f8f0e692fd9b090bef2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/animals_and_nature/white_flower.png") !important;
    background-size: contain !important;
}