
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/60607b817ba7412ac83babae796c1d8c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/flag_white.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/53d700db9e5fbb461663685b813156df.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/flag_black.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/checkered_flag.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f5f43be48e7804a8265947d8dd64e430.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/triangular_flag_on_post.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a38a70388a9ffb9ede271e41142a8f2e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/rainbow_flag.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b4389a07796a128a9e86e28e7f6df386.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/transgender_flag.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/pirate_flag.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/560f68782305d3736f6932663213aedf.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/flags/crossed_flags.png") !important;
    background-size: contain !important;
}