
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a77e46deee7127d2b85e271f0d5b738a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/green_apple.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d963d0ebb1bc7743dc37568e3b7c5cfb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/apple.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f5f860bd5863b0e6dc82effa2ef64b6d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pear.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b6a8ecf7ee81bc5f198efaae7756c41f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/tangerine.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5aa65ce7d8af354c6840c01006f26ef7.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/lemon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7afa8b718dc3a9439560566d912b5f2c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/banana.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8b9d5f124020931b4de093c25506f5aa.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/watermelon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/40e0130a4411323cdbed71b01ee0268e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/grapes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0f17a7cce9e5c8fd393abc909a2616ab.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/blueberries.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ee4d204778150f625d480712d693acf4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/strawberry.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3811d4c3223612227a941920960daa30.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/melon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/bcf31add4e99af68aefc1ad8c68bd8f5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cherries.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1799c138d1fe59c90b621531822b0be2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/peach.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/79957f681e99624173f17b2ba0e81627.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/mango.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/260afedd0836f7e9f87512040ec16f57.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pineapple.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fb44324f4075e90f296ea8a798af1703.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/coconut.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/17ef302e76de9a5905f978a06c52ddf4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/kiwi.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0217e68f2c1b88c35f227040cc035672.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/tomato.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f92a9f8821057c551982b659b268ed8e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/eggplant.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e4b6d2720cd87cfdffe875ecc469f710.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/avocado.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/bfbfe07667b675fdcbbb30ba63f0464c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/olive.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1de9216486dce86e581aa64cbe4b7f4e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/broccoli.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/816f010a6094fe98836610d2f080a5fb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/leafy_green.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/233755b9437ebf9f05d34ea440d7a16b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bell_pepper.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6fdc6338e892d53430b283f7136c5cb3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cucumber.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/52d1136b13f76fc2d27ee5a22124dcef.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/hot_pepper.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e64de7aced945c2e198bb5731e94ac6d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/corn.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/505b14bf36ec47cdbe22258a9419471e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/carrot.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e04954175e9c3f3b895c0366ca4363e8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/garlic.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/dbb5e0a5ac7fcd8f801730e2e3498977.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/onion.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/18ab2177ee2cf01e2855d916c24b568d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/potato.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/23ce7360b90fa15ff7502a4efa6e3bcd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/sweet_potato.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/90fd02b490e78c1d109f8a6c2258e603.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/croissant.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8e51177d22634fcb045f1cc5bd941a4c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bagel.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b4145d2678321d6d3376f1c88604fd42.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bread.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6728f7445b5530e8a9a2223c48bdb922.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/french_bread.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/284a5960c3fb6d80d0e02bc8ed2f2a2d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/flatbread.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c08455e24d167e611d3ed56380212922.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pretzel.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/90e5e990b28206c9884cb6e73ac0adb0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cheese.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5ca0c0b0ad60ee4b580e7ed918426cdb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/egg.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4c5368da6e23ddb039b77eb75136f27e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cooking.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ba1058c9c4297e7358162853663b1cfd.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/butter.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ddef78a94382b29b2d562a947f332211.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pancakes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e3585a83e0de8f33dc85d02bba5da810.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/waffle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9a3fba507c934679b333d8d3cfee04a9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bacon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d35629f6c4293ff75d35f0c96e287c92.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cut_of_meat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cb026612789e2a304448f7d84c6d1f61.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/poultry_leg.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f7ab12b60a61adab8654e0a9dc2e63af.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/meat_on_bone.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/557b8480fbd03c0405039ef45eb54ffe.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/hotdog.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3a2a5ebb52c26a470f87b1eb42c0da92.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/hamburger.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c38b71cfa643cbb5509817dbf90f7100.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fries.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/aa0f4c1498e8a6b14b1e3417b601b5aa.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pizza.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/38fadb5ec7c550dd3c3a513f2135dadc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/sandwich.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ad56cc64bdb8fa62623c559900829a3a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/stuffed_flatbread.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a94024f83beca602c5971b8ae6009f75.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/falafel.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2edf2d23ff03c3e4429ae709d5c3e6de.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/taco.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/630c91022fd762ead4271d5668239025.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/burrito.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/198bca7e9175adece98c33d497569962.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/tamale.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9cf68b29157f98c83144580400b5d3ee.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/salad.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7f1f04d2c3986363c03750206bf7d9d7.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/shallow_pan_of_food.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9aed4befbf07fca5047eda5e2d461292.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fondue.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2396da35337ea36298e29e868ea4407b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/canned_food.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7fa8e7fb17a9f47875f023c01362cb31.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/jar.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fea9f79514871312e3d97d243548bb69.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/spaghetti.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e60479de5773e230338b18f49e225c95.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/ramen.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/852c152018b85fee8747fc9b7fda029d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/stew.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d541826138980a5f4381317c342137f2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/curry.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a3fdf36792c57acefbd11c5cf628a617.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/sushi.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8f2b2dd111792f17b61b92f26df87d21.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bento.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/41c805926fd5c0b120e7b58536473314.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/dumpling.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2fcf8d7e3940696bb875970845316433.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/oyster.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7c309737c9a3ccda2f7448ef0abe001f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fried_shrimp.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/aa383d4f83ca500164ebe970318158de.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/rice_ball.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/edc4233ac27dd39edc6dcf270c3aa599.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/rice.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/600fbe12de9dd0653d9c6d60196a1e42.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/rice_cracker.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1e5535def77a31917694578e9e32f16e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fish_cake.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/98c3f380071921c6c56509b1ee924df9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fortune_cookie.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/54c838326679dc943c43a70c3291814f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/moon_cake.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f39d880f51c2c1fdc68b43fa8ffe86b2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/oden.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e6bf45e664dc5e37cf7414ecba378138.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/dango.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4d10c3bb48aaa22938d622f33368a74c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/shaved_ice.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/52bfdf64e0f7355d16780ff7187f9a1a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/ice_cream.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6a0b77bb41b5c5011ead76848d12ef02.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/icecream.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/98956724fc3f86e605dcf272a05b4a1e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pie.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c352b227ece1465d8ae9a67076426898.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cupcake.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3105a283924c31ad8edcf99e1406fce4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cake.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/496cd7d4bfc59cdf6cd8a3285b42b576.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/birthday.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/15975b815581fb2e18622a682ca2380a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/custard.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9acc7742efa057d93e09f6b68e6afd3a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/lollipop.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/45c8f940aac4dab66e6e73181663a59e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/candy.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a7ea7115b408d7dfa2eb701ef0a3b67d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/chocolate_bar.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0973f9db9b3cd198463d3d8bdea44264.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/popcorn.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b598f124b86f91d9daed202d64e29169.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/doughnut.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e8f23286ca11816c9ab8c145de57793d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cookie.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/07e63adc84f2b773c10ee339a8fcbf8c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/chestnut.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ff9619d028f1535f85a4c759a64de267.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/peanuts.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a7ce025edb4144559b99c87c29d55312.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/beans.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fc0d70c18dc95a7f572f1b8d4fd99fc5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/honey_pot.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c7b9a045336a335d4b87fae6b75b73ce.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/milk.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/50bac7c3b7f21ea25538c6d2ff6371cb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/pouring_liquid.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/70de7399b20bad71f868ca5161d140d3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/baby_bottle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3bdb393d75d08ec821a943f2f2659a95.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/teapot.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2e081ee00be98dbfc615fa5d5dc249b1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/coffee.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d51a9baef36313665fad17c1e2609023.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/tea.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c307c164eaccc7381860988b70b38882.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/mate.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6bd52eef967d3df855102935a93c9a70.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/beverage_box.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e93446908591e6087dcff8877dce3eb5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cup_with_straw.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e1fba47252509b8a076f39a3272809f9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bubble_tea.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/bbaf8d037b3f9be9c44f45dd8c6c0156.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/sake.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b4e610191ce369a8bd475c23d6b4c40b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/beer.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5e2ea03aa4963cda5e91d395c2587e6b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/beers.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1046d6db48d3c45ffa745e73f85e230e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/champagne_glass.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c66576976bc07f835107667c7db2f3db.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/wine_glass.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/05ed8fab4d9da4b1130ff7123988bad8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/tumbler_glass.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/32b7c567bd420f7e43f13ff4140fcd04.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/cocktail.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4e4a4ac66710b0aecf931cd72cd65d9e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/tropical_drink.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ae5e2a35c59da2f4e12c406f5efa86b9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/champagne.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fd6114328c436e5a111d326d05af3b9a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/ice_cube.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b8088efbebfa288bed766d40ac14e118.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/spoon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/753af848c32c8c27590c18f45292a12d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fork_and_knife.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b9cff060443410369c93d78ed3b11408.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/fork_knife_plate.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/232c25279b78c07d9f9dcf3b55dee3d6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/bowl_with_spoon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2613f4b9c6f9ae2f05e64c1ba3ad6c30.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/takeout_box.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3f6e1787ce79cf5aca97e45fc7680564.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/chopsticks.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fd72e31198f8ff94f70c826290622af0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/salt.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b70c28fda81441dfa331c656b365c61f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/squid.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1247f4e6cce47d98b0a08f956fccb4f9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/shrimp.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/506e7d0b2e3c6ab21f2e57dd5072cfc3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/lobster.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fca95001ef5ed7b75f1d0b3baf0aaf4d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/crab.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2cf786a465ca489dd2e55a37c08e3c59.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/mushroom.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9f89170e2913a534d3dc182297c44c87.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/knife.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/600365a75232f047561f91e816ff1961.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/food_and_drink/amphora.png") !important;
    background-size: contain !important;
}