
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a5aefa53dd12db3e911bf24b5ab4e478.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/see_no_evil.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ff686eb311c897278950bd29a9113990.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/hear_no_evil.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3096aae4bb3afd6cb72252000ee4e4f2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/speak_no_evil.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1b3817ca3b1dc991baefdb3079ed0624.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/dizzy.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d198f92b9911c7fdbb12baa694a819a2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/boom.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3140c8f687ba06dc8628b3c90686f77e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/dash.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9d7ddcf78b0fdff6ab938077da38401f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sweat_drops.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/31ef50db484eb3d4b2fbebb4e91a0764.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/bomb.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0542c8e0343df05c3d32b8694aec066a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/hole.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cf61cc6cbb5934d4d0e9c426f5b17d8a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/love_letter.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7c010dc6da25c012643ea22c1f002bb4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/grinning.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/66f6c781fe86c346fbaf3390618668fc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smiley.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/626aaed496ac12bbdb68a86b46871a1f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smile.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ab226fe832acc948e9f974decd04a4f0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/grin.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cb91d362742dcc886e4a4c3f981f3365.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/laughing.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/571a9318fd6af1875977d03256f23214.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_holding_back_tears.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b45af785b0e648fe2fb7e318a6b8010c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sweat_smile.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6201503f3aa918470a2190b36d1e196f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/joy.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/567230faa19ec889fad5613630597049.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/rofl.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4fc5b1ef776d4ae648d813da6eb6704f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smiling_face_with_tear.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b426f77f42bb709bcb2faa23602d2dc4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/relaxed.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6f75b58eb746d08c2c18451573876292.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/blush.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e461bb3847973d47822fdc79d66f494d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/innocent.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/slight_smile.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/559c3311dcdb3f23b7fb745559207db9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/upside_down.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2e41bfdeba797283ee9da9bb439c3ece.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/wink.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/817f965bd1fd796777908e6c8052d665.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/relieved.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e55f552bd0b1cf368b466422408c8401.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heart_eyes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/01c80723fb8cbdcb9e22747cd88e07e4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smiling_face_with_3_hearts.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/81a553e7c02c5dd144e40888c4b2faad.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/kissing_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2651df01b16f9037f954d7bfe6a535f4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/kissing.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d5d060921efbed7794c0d8087ba4cf58.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/kissing_smiling_eyes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ac30cfcc3533da0c03cc80bbc3e63db6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/kissing_closed_eyes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/913e66b19410c0ca3e71fe837a29e093.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/yum.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/10f25947b6687b5b103e131ca82826ab.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/stuck_out_tongue.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8220f7a8492a41bd571c315954aeb9b9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/stuck_out_tongue_closed_eyes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c9030d84bb2453fbba42c7c1896dbde8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/stuck_out_tongue_winking_eye.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/aee3a8d989cabcd262db85fe0ce7cd0d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/zany_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/879468637365983eba26983ddf6d38ad.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_raised_eyebrow.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ece6283544a703f158b497507aae3b62.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_monocle.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c61131c53f9986ac8808d592c3019a7a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/nerd.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5f80f04e6ee97feebdd00feff92ced82.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sunglasses.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/5963476960a5b3a9cf36e7bf8b435928.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/disguised_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/star_struck.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f3e307960b1c81de130c429034802618.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/partying_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/480eb6b0f6c22cbc1d98d6ff93e1edc1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smirk.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/19581aca5d78feac3a180971f24d399b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/unamused.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/08b9e24092ee146b9e071e89049c1055.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/disappointed.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2ea1f6bba4448fa4e8d9504fe976095d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/pensive.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a114d57f38f4921991a16893f9525421.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/worried.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fc5c8aa09047ef94d2c380891feff0f4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/confused.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9dc0c15c9e35f7ba86150ae12e895d29.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/slight_frown.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/88201cfdba8c923f39b94e0db7f42f08.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/frowning2.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/00faf33e229084cb56d8a51c9130761a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/persevere.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e6fe72eb79ef6258554b1385259df5d1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/confounded.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7f36e54469b941cf193a1a19baf2b806.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/tired_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7d9b0ce939d6486f22cf0111f0f815d6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/weary.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e63c47fd56c7ed1e4552974baaef4b4e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/pleading_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f6d30507f4baee759bc9d7e5c0d3ba4f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/cry.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f7b3f6b926cb31a17d4928d076febab4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sob.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1344a726dc134bff094a84ff60ea934d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/triumph.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4a1e59abafc2145af813eda8bf82a49d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/angry.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3f4e3f10b0a177426ca14b381445ca3b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/rage.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d3b48623c6a5915294f7278351b002da.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_symbols_over_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ddea4500a252f80cbf6d6c92db15178e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/exploding_head.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fd077d826b040d6c8b895de3b7585c25.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/flushed.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/372518b135d414f92edcd06b89e1468b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/hot_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/10ba107674fdf2d100be5592e7c85c74.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/cold_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/cffbe7d3b392eec446456db6adea7704.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_in_clouds.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/81195a9847a459acbb2b680a70357728.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/scream.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f467d08bfa67807c2b3dc6e0d1495fe1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/fearful.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b6e59899d18889c76321b4cb546b30b9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/cold_sweat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7e1efa56e2112cb69d5d6c205d2c454a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/disappointed_relieved.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6d8c8a8219b45458260ab4843f383b76.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sweat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/aeb86343db64360cf19cd66eae4eb792.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/hugging.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/263a7f4eeb6f69e46d969fa479188592.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/thinking.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d5c8d0449482e5cf153ebd79c4ff4a36.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_peeking_eye.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/6ba3855f5ea79b9b014e66b28c54429c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_hand_over_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1dd7a811b3c7640a8a8775921e56446a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_open_eyes_and_hand_over_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/be438a3c54ed89b52bc3351ec3e631fc.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/saluting_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/acb7b1a237378bbddd34927b4001b8f4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/shushing_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2b2a009b3adc6ee893908925a47d0194.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/melting_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7db949cd37e5e7c2623249272d9b3ea7.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/lying_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/63164bb66f2c9c65db1b1f7cf554a968.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/no_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/adc7e2a980c644dd79582158ec23ea79.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/dotted_line_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fa9b378aed10bba1aea54ca34e76fe4b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/neutral_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/981be7a645b49c309a2424165e31518d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_diagonal_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4f57f2120dbe61deda4eb15ea2fd3559.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/expressionless.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c4a0dcc8ff99eb77285d772b6b577389.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/grimacing.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8210e7f5bf5e03f5dee15f6ce4232feb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/rolling_eyes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f2d2c885c71d7c98b53fc15216e34e87.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/hushed.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c57f781369d6761064207b216ab66d1e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/frowning.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/92a2ca0b8a4ec9474a0b1e1a953262a9.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/anguished.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2312e90b9fc75749149a200817b952f2.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/open_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b4a967b8b0d6fea5994d4efdbe07f354.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/astonished.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e899188d7f6b611acdca8b91abc2f104.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/yawning_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/711ac22a92d00f844023ded91f820e8c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sleeping.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/bcee365bd88b9ad34961293f870fbc65.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/drooling_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/387d45cfc608c20850306f85bc143f09.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sleepy.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7669a083750f34a23def85b9afe351ab.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_exhaling.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/08cf46d4be10cd96a7f69a8b372d1425.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/dizzy_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8a44746659bab9f133830029b166edff.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_with_spiral_eyes.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c9687b0b5a491edea9fbe438d316a341.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/zipper_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/154693d902e0f75f3e475bd487be7969.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/woozy_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8212db2111debc4acc49ceb20cbfbdf0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/nauseated_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/633e893d2577bb3de002991aa00bc3b0.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/face_vomiting.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/a8a943a00a0430e5d06bb57ffacf2839.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sneezing_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/2993ada413223a149555f5f68198043f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/mask.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0d8bbcf262e835b89d4f75a0cda241fe.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/thermometer_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/267b527f1be941e367bce73444c96f3b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/head_bandage.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/dd35e632b9aac425f17ad59c85ecf9eb.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/money_mouth.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/c18f8f63a3232a0d246868b4d9f20f7b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/cowboy.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/54b9902837fed72b7551edb77b30b96e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smiling_imp.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/7fd35efd211326f76a364c4c10d77ef1.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/imp.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f7b28657f23a942ed82d45ed23094d63.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/japanese_ogre.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/97af278eacce256fb63c30689f80ee86.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/japanese_goblin.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9b323e96266a2cbf1fa0b07a547418be.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/clown.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8359db312f7319a4b0b23415e5fd1392.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/poop.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d92e0fd8dd2558af60d2a77eaae3100f.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/ghost.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f64f47a895e537305b3463f9d30bc177.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/skull.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/39cb7a326a67437dfed8216b0523d055.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/skull_crossbones.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9cf1e02c84cdd759ebbd16d28e431d42.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/alien.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/f061fbca366aace47d711c09ee19d26b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/space_invader.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/b67e65c2ab0428da786c1f53ebfd4243.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/robot.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ef2af7fab48463e72a3a7f0f8fb4fb4e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smiley_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e96ed3e46f59af0b9b7b49e3cb4e59f7.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smile_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4557741be111e94ca7083abf39422a30.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/joy_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d4d91a5f31668dd4609a3d7522f722c5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heart_eyes_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e25128510c26b0aad9d71bc6cf49df67.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/smirk_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ddd2c1bf4d9e5afa87394a52f1832fe4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/kissing_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3068417ae7f1a7c5c2ba60ab1aa1fb62.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/scream_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/509c4f6bb9b71c5d9551357942e11f12.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/crying_cat_face.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/551f9d76028c39299e0bc9bc20cd0e0d.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/pouting_cat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/1f47248f358622a7398c81207142239b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/kiss.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0483f2b648dcc986d01385062052ae1c.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ec0bba62895ee2423aed0aabf5fb3c83.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/orange_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/46dc70e2608d986da6de64c6ba5a59da.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/yellow_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/35221463e22cf68c28b23b6479a43613.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/green_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/e37c985edda06b7d5f4559bc838c1bde.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/blue_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/ec10708f00b5b6767490ffe50dfe2663.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/purple_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/d91cb297561a6bc50f8c6918d428bc61.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/black_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0dbfbf14977e0fa1f094d00281332013.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/brown_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/75ef348f4fd073a0ee237584fa350ea6.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/white_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fda7477c4eea759cf5407472387453bf.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/broken_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/fcc6e0e5fd313e770f13408321d2d50b.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heart_exclamation.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/70b35c3dc2e909287823bd8626150089.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/two_hearts.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/430e873bc74e81778ccf63f5d440f0ca.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/revolving_hearts.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/058dee5288ffcb904a26594ea31fcfb3.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heartbeat.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4bfb4661aa2746510f9e9ddcc990ccae.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heartpulse.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/8544ea5ce32fd9e17df806eb1cfeab47.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/sparkling_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/4c1490be77de62e7cf3e5bb5e68dfff8.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/cupid.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/99ee25afc79bd853311f019eddc53ab4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/gift_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/9967ec117c4f96b99c71e706ed1ec74a.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/mending_heart.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/93bef14e30e0a38bbc07f733e524f652.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heart_on_fire.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/70e2e710d9ea845df9bba730bcdb0e02.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/heart_decoration.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/baf44b1c1e3c284e9b263d08b426bdc5.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/anger.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/972f4783c40bf1217f007fcfd944ac30.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/speech_left.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/85ea65fa7910b449da793663ad09a695.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/eye_in_speech_bubble.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/df8b5c1e4abb97e748071aeb28f1ba38.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/speech_balloon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/0933c4860868252befc05509165a1db4.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/thought_balloon.png") !important;
    background-size: contain !important;
}
.graphicPrimary-jNHB2G:has(.emoji-4YP39J[src="/assets/3cde66c399ecfb908ead029f0f1f7e5e.svg"]) {
    background-image: url("https://raw.githubusercontent.com/Lythium4848/EmojiReplace/master/emojis/Microsoft3D/smileys_and_emotion/anger_right.png") !important;
    background-size: contain !important;
}